//out: styles.css

@black: #0F0F0E;
@gray: gray;
@manatee: #9AA0A8;
@cambridge: #A7C4B5;
@onyx: #343F3E;
@dolphin-gray: #7E8987;
@outer-space: #454851;
@princeton: #FB8B24;
@beau-blue: #BEE9E8;
@patriarch: #820263;
@tea: #DBEBC0;
@carribean: #09BC8A;
@cardinal: #C5283D;
@turquoise: #3DCCC7;
@purdue-gold: #B1810B;

// button gradient
@grad-1: #47a1cf;
@grad-2: #5177d1;
@grad-3: #635bd4;
@grad-4: #c470d9;
@grad-5: #de86af;
@grad-6: #e19199;
@grad-7: #e3af9c;
@grad-8: #e6cfa8;

// nav buttons
@home: @grad-1;
@instr: @grad-2;
@venues: @grad-3;
@schedule: @grad-4;
@music: @grad-5;
@food: @grad-6;
@staff: @grad-7;
@contact: @grad-8;

@pacifico-font-stack: Pacifico, cursive;
@oswald-font-stack: Oswald, sans-serif;

#mobile-nav {
  visibility: hidden;
}

body {
  background-color: @black;
}

nav {
  width: 85%;
  min-height: 40px;
  max-height: 180px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 2%;
  background-color: lighten(@black, 25%);
  border-radius: 10px;
  background: linear-gradient(to bottom right, lighten(@black, 5%), lighten(@black, 20%));
  background: -webkit-linear-gradient(left top, lighten(@black, 5%), lighten(@black, 20%));
  background: -o-linear-gradient(bottom right, lighten(@black, 5%), lighten(@black, 20%));
  background: -moz-linear-gradient(bottom right, lighten(@black, 5%), lighten(@black, 20%));
}

.active {
  border: 2px solid @cambridge !important;
}

.my-nav {
  text-align: center;
}

nav > h3 {
  text-align: left;
  font-family: @pacifico-font-stack;
  font-size: 2.8em;
  font-weight: 100;
  color: @purdue-gold;
  margin-top: 0;
  margin-left: 5px;
  margin-bottom: 0;
}

.my-nav > button {
  margin: 5px 3px 5px 3px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;
  font-family: @oswald-font-stack;
  font-size: 1.3em;
  border: 0;
}

.my-nav > button > a, #register-btn > a {
  text-decoration: none;
  color: @black;
}

.my-nav > button:hover, #register-btn:hover {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}

.my-nav > button:hover > a, #register-btn:hover > a {
  color: lighten(@black, 15%);
}

// nav buttons
#home-btn {
  background-color: @home;
}
#instructors-btn {
  background-color: @instr;
}
#venues-btn {
  background-color: @venues;
}
#schedule-btn {
  background-color: @schedule;
}
#music-btn {
  background-color: @music;
}
#food-btn {
  background-color: @food;
}
#staff-btn {
  background-color: @staff;
}
#contact-btn {
  background-color: @contact;
}

#main-photo {
  display: block;
  margin: auto;
  min-width: 50%;
  max-width: 100%;
  border-radius: 10%;
}

#register-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border: 0;
  background-color: @princeton;
  border-radius: 5px;
  font-size: 3em;
  font-family: @oswald-font-stack;
  padding: .25em 1em .25em 1em;
}

/* This is where mobile css comes in. */
@media (max-width: 660px) {
  #default-nav {
    visibility: hidden;
  }

  #mobile-nav {
    visibility: visible;
  }
}
