#mobile-nav {
  visibility: hidden;
}
body {
  background-color: #0F0F0E;
}
nav {
  width: 85%;
  min-height: 40px;
  max-height: 180px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 2%;
  background-color: #51514c;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #1c1c1a, #44443f);
  background: -webkit-linear-gradient(left top, #1c1c1a, #44443f);
  background: -o-linear-gradient(bottom right, #1c1c1a, #44443f);
  background: -moz-linear-gradient(bottom right, #1c1c1a, #44443f);
}
.active {
  border: 2px solid #A7C4B5 !important;
}
.my-nav {
  text-align: center;
}
nav > h3 {
  text-align: left;
  font-family: Pacifico, cursive;
  font-size: 2.8em;
  font-weight: 100;
  color: #B1810B;
  margin-top: 0;
  margin-left: 5px;
  margin-bottom: 0;
}
.my-nav > button {
  margin: 5px 3px 5px 3px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;
  font-family: Oswald, sans-serif;
  font-size: 1.3em;
  border: 0;
}
.my-nav > button > a,
#register-btn > a {
  text-decoration: none;
  color: #0F0F0E;
}
.my-nav > button:hover,
#register-btn:hover {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}
.my-nav > button:hover > a,
#register-btn:hover > a {
  color: #373733;
}
#home-btn {
  background-color: #47a1cf;
}
#instructors-btn {
  background-color: #5177d1;
}
#venues-btn {
  background-color: #635bd4;
}
#schedule-btn {
  background-color: #c470d9;
}
#music-btn {
  background-color: #de86af;
}
#food-btn {
  background-color: #e19199;
}
#staff-btn {
  background-color: #e3af9c;
}
#contact-btn {
  background-color: #e6cfa8;
}
#main-photo {
  display: block;
  margin: auto;
  min-width: 50%;
  max-width: 100%;
  border-radius: 10%;
}
#register-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border: 0;
  background-color: #FB8B24;
  border-radius: 5px;
  font-size: 3em;
  font-family: Oswald, sans-serif;
  padding: .25em 1em .25em 1em;
}
/* This is where mobile css comes in. */
@media (max-width: 660px) {
  #default-nav {
    visibility: hidden;
  }
  #mobile-nav {
    visibility: visible;
  }
}
